name: Docker Image CI (logicore)
on:
  # push:
  #   branches: ['alfa']
  pull_request:
    types:
      - closed
    branches: ['alfa']
env:
  VUE_APP_API_URL: https://carrier.logicore.ru/api
  VUE_APP_API_WS_URL: https://carrier.logicore.ru
  VUE_APP_STATIC_URL: https://carrier.logicore.ru
  VITE_API_URL: https://carrier.logicore.ru/api
  VITE_API_WS_URL: https://carrier.logicore.ru
  VITE_STATIC_URL: https://carrier.logicore.ru
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          ref: alfa

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.alfa
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/carrier_client:latest

  # deploy:
  #   runs-on: self-hosted
  #   needs: build
  #   steps:
  #     - name: executing remote ssh commands using ssh key
  #       uses: appleboy/ssh-action@v0.1.10
  #       with:
  #         host: alfa.s4log.ru
  #         username: alexey
  #         key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}
  #         port: 2233
  #         script: |
  #           docker service update --image ${{ secrets.DOCKERHUB_USERNAME }}/alfa_front2:latest alfa_stack_front2
